doctype html
html(lang="en")
    include head.pug

    body
        div(class="container-fluid")
            include nav.pug
        form()
            div(class="form-group col-md-12")
                input(type="text" id="schedule-name" name="schedule-name" class="form-control" placeholder="Name")
            div(class="form-group col-md-12")
                input(type="text" id="schedule-pattern" name="schedule-pattern" class="form-control" placeholder="Pattern")
            div(class="form-group col-md-12")
                button(type="button" id="schedule-edit-submit" class="form-control btn btn-primary") Accept


