doctype html
html(lang="en")
    include head.pug

    body
        div(class="container-fluid")
            include nav.pug
        form()
            div(class="form-group")
                input(type="text" id="task-name" name="task-name" class="form-control" placeholder="Name")
            div(class="form-group")
                textarea(class="form-control" id="task-desc" name="task-desc" placeholder="Description")
            div(class="form-group")
                button(type="button" id="task-edit-submit" class="btn btn-primary") Accept


