doctype html
html(lang="en")
    include head.pug

    body
        div(class="container-fluid")
            include nav.pug

            div(id="modal-execution" class="modal fade")
                div(class="modal-dialog")
                    div(class="modal-content")
                        div(class="modal-header")
                            button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                            h4(class="modal-title") Execution output
                        div(class="modal-body")
                            textarea(id="excecution-content")
                        div(class="modal-footer")
                            button(id="modal-close-button" type="button" class="btn btn-default" data-dismiss="modal") Close

            button(type="button" id="add-new-task-button" class="btn btn-default") Add new
            button(type="button" id="manage-schedules-button" class="btn btn-default") Manage schedules

            table(id="tasks-table" data-classes="table" data-toggle="table" data-url="/ajax/tasks" data-pagination="true"
                data-search="true" data-row-style="rowStyle")
                thead
                    tr()
                        th(data-field="name" data-sortable="true") Name
                        th(data-field="schedule_name" data-sortable="true") Schedule
                        th(data-field="command" data-sortable="true") Command
                        th(data-field="status_icon" data-width="60px") Status
                        th(data-sortable="false" data-searchable="false" data-field="operate"
                            data-formatter="operateFormatterTask" data-events="operateEvents"
                            data-width="60px") Actions

