doctype html
html(lang="en")
    include head.pug

    body
        div(class="container-fluid")
            include nav.pug

            button(type="button" id="add-new-task-button" class="btn btn-default") Add new
            button(type="button" id="manage-schedules-button" class="btn btn-default") Manage schedules
            table(id="tasks-table" data-toggle="table" data-url="/ajax/tasks" data-pagination="true"
                data-search="true")
                thead
                    tr
                        th(data-field="name" data-sortable="true") Name
                        th(data-field="schedule_name" data-sortable="true") Schedule
                        th() Status
                        th(data-sortable="false" data-searchable="false" data-field="operate"
                            data-formatter="operateFormatterTask" data-events="operateEvents"
                            data-width="60px") Actions

