nav(class="navbar navbar-inverse")
    div(class="container-fluid")
        div(class="navbar-header ananke-header")
            a(class="navbar-brand" href="/") Ananke
            p(class="navbar-text navbar-right") The task planificator