doctype html
html(lang="en")
    include head.pug

    body
        div(class="container-fluid")
            include nav.pug

            button(type="button" id="add-new-schedule-button" class="btn btn-primary") Add new
            table(id="schedules-table" data-toggle="table" data-url="/ajax/schedules" data-pagination="true"
                data-search="true")
                thead
                    tr
                        th(data-field="name" data-sortable="true") Name
                        th(data-field="pattern" data-sortable="false" data-searchable="false") Pattern
                        th(data-sortable="false" data-searchable="false" data-field="operate"
                            data-formatter="operateFormatterSchedule" data-events="operateEvents"
                            data-width="60px") Actions

