body {
  padding: 20px;
}
a.navbar-brand {
  color: #fff !important;
}
.ananke-header {
  width: 100%;
  padding-right: 20px;
}
a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}
a.ananke-action-row,
a.execution-status {
  color: #333;
}
.icon-edit,
.icon-execution {
  margin-right: 10px;
}
.execution-success {
  background-color: #a1d490;
}
.execution-error {
  background-color: #ff5454;
}
.execution-inactive {
  background-color: #d3d3d3;
}
#modal-execution {
  padding-top: 200px;
}
#excecution-content {
  width: 100%;
  min-height: 400px;
}
.pagination-detail {
  display: none;
}
#tasks-table {
  word-wrap: break-word;
  table-layout: fixed;
}
