/* General styles file */

success-green = #A1D490

body
  padding 20px

a.navbar-brand
  color white !important

.ananke-header
  width 100%
  padding-right 20px

a, a:hover, a:visited, a:focus
  text-decoration none

a.ananke-action-row, a.execution-status
  color: #333333

.icon-edit
  margin-right 15px

.execution-success
  background-color success-green

#modal-execution
  padding-top 200px

#excecution-content
  width 100%
  min-height 400px