success-green = #A1D490
inactive-grey = #D3D3D3
error-red = #FF5454

body
  padding 20px

a.navbar-brand
  color white !important

.ananke-header
  width 100%
  padding-right 20px

a, a:hover, a:visited, a:focus
  text-decoration none

a.ananke-action-row, a.execution-status
  color: #333333

.icon-edit, .icon-execution
  margin-right 10px

.execution-success
  background-color success-green

.execution-error
  background-color error-red

.execution-inactive
  background-color inactive-grey

#modal-execution
  padding-top 200px

#excecution-content
  width 100%
  min-height 400px

.pagination-detail
  display none

#tasks-table
  word-wrap break-word
  table-layout fixed

.failed-tasks-container
  float right
  border 1px solid lightgrey
  padding 4px 10px
  border-radius 5px
  font-weight bold
  font-size 16px

.failed-tasks-container a
  color error-red

.failed-tasks-container .success
  color: green

div.search
  width 400px
