/* General styles file */

success-green = #A1D490

body
  padding 20px

a.navbar-brand
  color white !important

.ananke-header
  width 100%
  padding-right 20px

a.ananke-action-row
  color: #333333

.icon-edit
  margin-right 15px

.execution-success
  background-color success-green

a
  color black

a:hover
  color black
  text-decoration none